@page "/orders/delete"
@attribute [Authorize(Roles = "Administrator")]
@inject NavigationManager NavigationManager
@inject OrderService OrderService

<PageTitle>Удалить заказ</PageTitle>

<h1>Удалить заказ</h1>

<p>Вы уверены, что хотите удалить этот заказ?</p>
<div>
    @if (order is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">ID заказа</dt>
            <dd class="col-sm-10">@order.OrderId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Сумма</dt>
            <dd class="col-sm-10">@order.Amount.ToString("C")</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Статус</dt>
            <dd class="col-sm-10">@order.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@order.UserEmail</dd>
        </dl>

        <h3>Товары в заказе:</h3>
        @if (order.Items != null)
        {
            @foreach (var item in order.Items)
            {
                <dl class="row">
                    <dt class="col-sm-2">@item.Book?.Title</dt>
                    <dd class="col-sm-10">@item.Count шт. по @item.ItemPrice.ToString("C")</dd>
                </dl>
            }
        }

        <EditForm method="post" Model="order" OnValidSubmit="DeleteOrder" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(order is null)">Удалить</button> |
            <a href="/orders">Назад к списку заказов</a>
        </EditForm>
    }
</div>

@code {
    private Order? order;

    [SupplyParameterFromQuery]
    private int OrderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.FindByIdAsync(OrderId);

        if (order is null)
            NavigationManager.NavigateTo("notfound");
    }

    private async Task DeleteOrder()
    {
        await OrderService.DeleteAsync(order!);
        NavigationManager.NavigateTo("/orders");
    }
}